/*element css*/

h1 {
  font-family: 'FeedjiqueRegular'; 
  font-weight: normal; 
  font-style: normal; 
  color: black;
  padding-bottom: 20px;
  font-size: 72px;
  font-weight: 200;
}
h2 {
  font-size: 24;
}
h3 {
  font-size: 24;
}
html, body{
  background-image: url(../images/grunge-bg2.jpg);
    color: black;
    margin-top: 50px;
    padding: 0;
    line-height: 1.6;
}
#main-game {
    background-image: url(../images/grunge-bg.png);
    padding: 25px 0px 50px 0px;
}
.container{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
#content {
    margin: auto;
    width: 80%;
    border: 3px solid white;
    padding: 10px;
}
.answer-button {
    margin: 5;
    padding: 3;
}
/*media queries*/


