/*element css*/

h1,
h2,
h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: black;
}
h1 {
  align: center;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 2px solid #ddd;
}
h2 {
  font-size: 24;
}
h3 {
  font-size: 20px;
}

html, body{
    background-color: lightslategray;
    color: black;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace ;

}

#content {
    margin: auto;
    width: 80%;
    border: 3px solid white;
    padding: 10px;
}
.answer-button {
    margin: 5;
    padding: 3;
}
/*media queries*/


